* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrap {
    font-size: 20px;
    margin: 5px;
    margin-top: 5px;
}

.logo {
    width: 150px; 
    margin-left: 10px;
}

.social {
    width: 150px;
    float: right;
}

.cover3 {
    background-image: url(../img/cover3.jpg);
    height: 550px;
    text-align: center;
    color: white;
    padding-top: 170px;
    font-size: 30px;
    border: black solid 15px;
/*    background-repeat: no-repeat;*/
    background-position: center;
	text-transform: uppercase;
}

header.main nav ul {
    background-color: indianred;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0; /* Eliminates spacing between inline-block elements */
	text-align: center;
}

header.main nav li {
	display: inline-block; /* This will change to display: block for media queries */
}

header.main nav li a {
	display: block;
	font-size: 16px;
	padding: 20px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

header.main nav li a:hover {
	background-color: rgb(0,0,150);
}

/* MENU TOGGLE */
.menu-toggle {
	display: none;
	text-align: center;
}

.menu-toggle a {
	display: block;
	font-size: 16px;
	padding: 20px;
	text-decoration: none;
	color: white;
	background-color: #000;
}

.menu-toggle a:hover {
	background-color: #333;
}

/* MEDIA QUERY FOR MENU AND TOGGLE */
@media (max-width: 800px) {
	header.main nav ul {
		display: none; /* Hide the main */
	}
	header.main nav li {
		display: block; /* Stack the menu items */
	}

	/* Reveal the menu toggle */
	.menu-toggle {
		display: block;
	}
    
    .cover {
    height: 100px;
    width: 100%;
    background-image: url(../img/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

}

.hero {
    background-color: peachpuff;
    margin: 0 auto;
}

.about {
    width: 850px;
    height: 550px;
    margin: 0 auto;
}

.img {
    width: 350px;
    height: 350px;
    background-image: url(../img/about.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    float: left;
}

.text {
    padding: 20px;
    text-align: center;
    font-size: 15px;
    width: 100%;
    float: left;
}

.cover {
    height: 150px;
    width: 642px;
    background-image: url(../img/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    float: left;
}

footer.main {
    background-color: aquamarine    
}

footer.main nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0; /* Eliminates spacing between inline-block elements */
	text-align: center;
}

footer.main nav ul li {
    display: inline-block;    
}

footer.main nav ul li a {
	display: block;
	font-size: 12px;
	padding: 10px;
	text-decoration: none;
    color: black;
	text-transform: lowercase;
}

footer.main nav ul li a:hover {
	background-color: white;
}

.copyright {
    background-color: aquamarine;
    text-align: center;
    color: black;
}






/* MEDIA QUERY */
@media (max-width: 680px) {
.hero {
    background-color: #58FF95;
    height: 670px;
    margin: 0 auto;
    width: 100%;
}

.about {
    width: 100%;
    height: 665px;
    background-color: peachpuff;
    margin: 0 auto;
}

.img {
    width: 100%;
    height: 350px;
    background-image: url(../img/about.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.text {
    padding: 20px;
    text-align: center;
    font-size: 15px;
}

.cover {
    height: 100px;
    width: 100%;
    background-image: url(../img/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

footer.main {
    background-color: aquamarine    
}


.copyright {
    background-color: aquamarine;
    height: 33px;
    text-align: center;
    color: black;
    padding: 8px;
}
    
    
}